/* fonctions */
.margin_nulle {
  margin: 0;
}
.padding_nulle {
  padding: 0;
}
.float_droit {
  float: right;
}
.float_gauche {
  float: left;
}
/* balises classique */
html {
  vertical-align: top;
}
body {
  font-family: sans-serif;
  font-size: 12px;
  display: grid;
  grid-template-columns: 15em 1fr;
  grid-template-rows: 12.5em 1fr;
  grid-template-areas: "h h" "a m";
  max-width: 1100px;
}
h1 {
  padding: 1em 0;
  margin: 0;
}
h3,
h4 {
  padding: 0;
  margin: 0;
  color: #1c1e26;
}
h2,
h5 {
  padding: 0;
  margin: 0;
  color: #1c1e26;
}
h2 {
  background-color: #313544;
  color: #fff;
}
li {
  margin-bottom: 0.2em;
}
a {
  color: #313544;
}
/* section */
section,
header,
footer {
  border: 3px solid #313544;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0 0 0.9em 0;
}
section div,
header div,
footer div {
  padding: 0 0.9em;
}
section header,
header header,
footer header {
  border: 0;
}
section header div,
header header div,
footer header div,
section header span,
header header span,
footer header span {
  font-size: 0.8em;
}
img {
  float: left;
  margin-right: 1em;
}
header {
  grid-area: h;
}
aside {
  grid-area: a;
  vertical-align: top;
}
aside section {
  padding-bottom: 0.9em;
}
main {
  grid-area: m;
  padding-left: 1em;
}
#affichageGauche {
  display: inline-block;
  margin-left: 0.9em;
}
#presentation {
  height: 11.5em;
  order: 1;
  background-color: #313544;
  color: #fff;
  position: relative;
}
#presentation h1 {
  padding: 0.1em 0 0;
  font-size: 2.5em;
}
#presentation h2 {
  background: none;
  position: absolute;
  right: 0.75em;
  bottom: 0em;
  font-size: 2.5em;
}
#competences li {
  display: block;
}
#competences h2:before {
  display: inline-block;
  content: ' ';
  height: 0.9em;
  width: 0.9em;
  margin-right: 5px;
  margin-left: 2px;
  background-color: #fff;
  mask-image: url(../img/png_blanc/competences.png);
  -webkit-mask-image: url(../img/png_blanc/competences.png);
  mask-size: 0.9em 0.9em;
}
#personnalite div,
#personnalite p {
  padding: 0em 0.9em 0.3em 0.9em;
  margin: 0;
}
#personnalite h2:before {
  display: inline-block;
  content: ' ';
  height: 0.9em;
  width: 0.9em;
  margin-right: 5px;
  margin-left: 2px;
  background-color: #fff;
  mask-image: url(../img/png_blanc/personnalite.png);
  -webkit-mask-image: url(../img/png_blanc/personnalite.png);
  mask-size: 0.9em 0.9em;
}
#sociaux {
  padding-bottom: 0.25em;
}
#sociaux li {
  display: block;
}
#sociaux h2:before {
  display: inline-block;
  content: ' ';
  height: 0.9em;
  width: 0.9em;
  margin-right: 5px;
  margin-left: 2px;
  background-color: #fff;
  mask-image: url(../img/png_blanc/sociaux.png);
  -webkit-mask-image: url(../img/png_blanc/sociaux.png);
  mask-size: 0.9em 0.9em;
}
#experience {
  padding-bottom: 0.75em;
}
#experience h2:before {
  display: inline-block;
  content: ' ';
  height: 0.9em;
  width: 0.9em;
  margin-right: 5px;
  margin-left: 2px;
  background-color: #fff;
  mask-image: url(../img/png_blanc/experience.png);
  -webkit-mask-image: url(../img/png_blanc/experience.png);
  mask-size: 0.9em 0.9em;
}
#formation {
  padding-bottom: 0.4em;
}
#formation h2:before {
  display: inline-block;
  content: ' ';
  height: 0.9em;
  width: 0.9em;
  margin-right: 5px;
  margin-left: 2px;
  background-color: #fff;
  mask-image: url(../img/png_blanc/formation.png);
  -webkit-mask-image: url(../img/png_blanc/formation.png);
  mask-size: 0.9em 0.9em;
}
#interet {
  padding-bottom: 0.4em;
}
#interet h2:before {
  display: inline-block;
  content: ' ';
  height: 0.9em;
  width: 0.9em;
  margin-right: 5px;
  margin-left: 2px;
  background-color: #fff;
  mask-image: url(../img/png_blanc/interet.png);
  -webkit-mask-image: url(../img/png_blanc/interet.png);
  mask-size: 0.9em 0.9em;
}
h5 {
  display: inline-block;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#experience li:before,
#formation li:before,
#interet li:before {
  content: "-";
  padding-right: 0.75em;
  color: #313544;
}
#container {
  display: flex;
  width: 100%;
  padding: 0;
}
#container div:first-child {
  width: 40%;
}
.invisible {
  visibility: hidden;
}
.cache {
  display: none;
}
#encours {
  font-weight: bold;
}
/* Niveau de compétences et autres */
.Niv5:after {
  content: "● ● ● ● ●";
  color: #313544;
  float: right;
}
.Niv4:after {
  content: "● ● ● ● ○";
  color: #313544;
  float: right;
}
.Niv3:after {
  content: "● ● ● ○ ○";
  color: #313544;
  float: right;
}
.Niv2:after {
  content: "● ● ○ ○ ○";
  color: #313544;
  float: right;
}
.Niv1:after {
  content: "● ○ ○ ○ ○";
  color: #313544;
  float: right;
}
